sudo: required
service: 
  - docker

before_install: 
  - docker build -t saifulishaq/react-test -f ./client/Dockerfile.dev ./client

script:
  - docker run -e CI=true saifulishaq/react-test npm run test

after_success: 
  - docker build -t saifulishaq/multi-client ./client 
  - docker build -t saifulishaq/multi-nginx ./nginx 
  - docker build -t saifulishaq/multi-server ./server
  - docker build -t saifulishaq/multi-worker ./worker